html,
body {
  width: 488px;
  background-color: rgb(184, 178, 178);
  text-align: center;
}
@media screen and (min-width: 768px) {
  html,
  body {
    width: 972px;
  }
}

h1 {
  height: 75px;
  border: solid 2px black;
  background-color: #0e00fa;
}
@media screen and (min-width: 768px) {
  h1 {
    height: 100px;
    background-color: #fbe6c2;
  }
}
nav {
  height: 150px;
  border: solid 2px black;
  background-color: #0b63de;
}
@media screen and (min-width: 768px) {
    nav{
        width: 200px;
        height: 600px;
        float: left;
        background-color: #f0c929;
    }
}

footer {
  height: 80px;
  border: solid 2px black;
  background-color: #0dff2b;
}
@media screen and (min-width: 768px) {
    footer{
        height: 150px;
        width: 760px;
        background-color: #007580;
    }
} 
